@import url('https://rsms.me/inter/inter.css');

html, body {
  font-family:
    monospace,
    'Inter',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
}

@supports (font-variation-settings: normal) {
  html {
    font-family:
      monospace,
      'Inter var',
      sans-serif,
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol';
  }
}

code {
  font-family:
    DejaVu Sans Mono,
    monospace;
  font-size: 85%;
}