/* reset */
* {
  margin: auto;
  padding: auto;
  text-decoration: none;
}

body {
  background: #242424;
  color: #e6e6e6;
  font-family: monospace;
  /*HelveticaNeue, 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif;*/
  padding: 1em;
  font-size: 16pt;
  /*box-sizing: border-box;*/
}

.main {
  margin-left: 15em;
  padding: 5px;
}

.main h1 {
  margin-top: 20px;
}

.main ul li {
  margin: 25px 0;
}

.main ul {
  margin-left: 3em;
}

.main p {
  margin-left: 1em;
}

.Image img{
  width: 30em;
  height: auto;
  margin-left: 0.3em;
  padding: 1em;
}